<section class="download bg-secondary text-center" id="secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">BedRoom!</h2>
        <p><strong>Area Temperature:</strong> 23oC</p>
  <p><strong>Area Humidity:</strong> 42%</p>
        <div class="badges">
    <div class="row h-100">
      
      <div class="col-lg-12 my-auto" style="padding-bottom:10px;">
        <h3>Lights & Devices</h3>
        <div style="padding: 5px 5px 5px 5px">
          <strong>Main Light:</strong>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
            </label>
            <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
            </label>
          </div>
        </div>
        <div style="padding: 5px 5px 5px 5px">
          <strong>Air Condition:</strong>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
            </label>
            <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
            </label>
          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>